{% extends "base.html" %}
{% load static %}

{% block title %}About GIBF{% endblock %}

{% block content %}
<section id="about" class="about py-0">

    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center"
             style="background-image: url('{% static 'images/about/about-gibf-and-all-flags.png' %}');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 col-12 container text-center">
                        <h1 class="py-4 text-light fs-1"
                            style="text-shadow:0px 0px 2px black,0px 0px 6px black;font-family: 'Times New Roman', Times, serif;">
                            <br>About GIBF
                            <br>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 pt-1" data-aos="fade-up">

        <div class="row gy-4">


            <div class="col-12 text-left">

                <p class="lead mt-3 " data-aos="fade-up">
                    <strong> <i class="bi bi-yin-yang fs-4 me-2"></i></strong>
                    With the Indian Governments initiatives such as “Make in India&quot;, “Skill Development”
                    and “Aatmanirbhar Bharat Abhiyan (Self-Reliant India Mission)” there are ample
                    opportunities for both Indian and Global companies to run start-ups and make
                    exponential growth in all business sectors. These initiatives also provide a golden
                    opportunity for Indian Micro Small and Medium Enterprises (MSMEs) to promote
                    themselves and show their true potential to grow and flourish globally.<br> <strong> <i
                        class="bi bi-yin-yang fs-4 me-2"></i></strong>As India is spearheading towards
                    becoming the global super power, it is expected that more and more Indian MSMEs explore business
                    opportunities in different countries. Global India Business Forum (GIBF) was formed to show them
                    the opportunities on the global platform, by bringing together business professionals from
                    various segments like Automobile, Engineering, FMCG, Chemical, Pharmaceuticals, Electronics,
                    Heavy Metal, Service Industry etc.
                    <br> <strong> <i class="bi bi-yin-yang fs-4 me-2"></i></strong>The idea was perceived and
                    progressed
                    further by Dr. Jitendra Joshi, a successful businessman and visionary who has over a glorious
                    30+ years of experience in Manufacturing and Service Industry at Senior Level Management in
                    numerous MNCs.
                    <br> <strong> <i class="bi bi-yin-yang fs-4 me-2"></i></strong>GIBF started working on G-100
                    concept
                    to inform about the business potential in 100 countries through country-wise councils. GIBF also
                    believes that cultural exchange and historical appreciation of each other’s countries build
                    strong bonds that are beneficial for strengthening bilateral trade. Based on this, GIBF has
                    formed Business and Cultural Councils between India and several countries, and is in the process
                    of forming more such councils.
                    <br> <strong> <i class="bi bi-yin-yang fs-4 me-2"></i></strong>Today, Global India Business
                    Forum is
                    one of the fastest growing networking platforms in the world that has successfully connected
                    businesspersons from different countries and sectors on one platform and is raring to go for
                    more.
                    <br> <strong> <i class="bi bi-yin-yang fs-4 me-2"></i></strong>We, at GIBF, bridge the gap
                    between
                    demand for opportunities and their supply by conducting webinars, seminars, conclaves,
                    conferences and business delegations. These webinars and conferences help Ambassadors and Consul
                    Generals of countries across the world shed light on several business opportunities their
                    countries have in store for foreign investors. They also help business leaders identify business
                    opportunities that best suit them and we shall help them come together on our platform.
                    <br> <strong> <i class="bi bi-yin-yang fs-4 me-2"></i></strong>GIBF consists of members from all
                    fields of business, industry, academics and other professions without any segment boundaries.
                </p>
                <p class="lead " data-aos="fade-up">
                    <strong><i class="bi bi-building  fs-4"></i> GIBF has its head office in Delhi,
                        Corporate Office in Pune, India and Global offices in Dubai, USA, UK, Singapore and China.
                        It
                        also has a presence at Mumbai, Chennai, Ahmedabad, Bangalore, Guwahati, Indor, Kolkata and
                        Cuttack in India.
                    </strong>
                </p>
            </div>

        </div>
    </div>

</section>
{% endblock %}

