<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
   <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <link href="{% static 'images/gibf-icon.png' %}" rel="icon">
    <link href="{% static 'images/gibf-touch-icon.png' %}" rel="apple-touch-icon">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper-bundle.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/aos.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}">
    <link href="{% static 'css/main2.css' %}" rel="stylesheet">
</head>
<body>
{% load static %}

{% include 'includes/header.html' %}

<main>
    {% block content %}
    {% endblock %}
</main>
{% include 'includes/footer.html' %}
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<!-- Vendor JS Files -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/purecounter_vanilla.js' %}"></script>
<script src="{% static 'js/glightbox.min.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/validate.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>


</body>
</html>
