{% extends "base.html" %}
{% load static %}

{% block title %}GIBF ISO Certificate{% endblock %}

{% block content %}

<section id="about" class="about py-0">
<div class="breadcrumbs">
        <div class="page-header d-flex align-items-center"
            style="background-image: url( '{% static 'images/india-kazakhstan-business-and-cultural-council-gibf-iso-certificate.jpg' %}' );">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-12 container text-center">
                        <h1 class="py-4 text-light fs-1"
                            style="text-shadow:0px 0px 4px black;font-family: 'Times New Roman', Times, serif;">
                            <br>GIBF ISO Certificate
                            <br>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Breadcrumbs -->
    <section id="features" class="features py-0">

        <div class="container mb-3">


            <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src='{% static 'images/gibf-iso-certificate-document.jpg' %}'
                        class="img-fluid"
                        alt="India Kazakhstan Business and Cultural Council - GIBF ISO Certificate Document">
                </div>
                <div class="col-md-7 order-2 order-md-1">
                    <h2 data-aos="fade-up" style="color:#001973;text-align: justify ;" class="fs-3 fw-bolder">
                        <img src= '{% static 'images/iso-logo.png' %}' 
                        class="imgiso" style="width: 3rem !important; height: 3rem !important; border-radius: 50%; "alt="ISO logo">
                        Global India Business Forum - ISO 9001:2015 certified
                        company
                        Certified by International Accreditation forum (IAF)
                    </h2>
                    <p data-aos="fade-up" class="lead fs-6" style="text-align: justify;">


                        "The Quality Management System of GIBF Associates Pvt. Ltd. has been assessed and certified to
                        ISO 9001:2015 on 24/04/2021 by MMS with traceability to International Accreditation Forum. This
                        gives GIBF a Global recognition in the wide range of activities in India & Abroad"
                    </p>
                    <h2 data-aos="fade-up" style="color:#001973;" class="fs-3 fw-bolder">
                        <img src= '{% static 'images/iso-logo.png' %}' class="imgiso" style="width: 3rem !important; height: 3rem !important; border-radius: 50%; alt="ISO logo">

                        GIBF – Quality Objectives
                    </h2>
                    <ul style="text-align: justify;">
                        <li data-aos="fade-up" class="lead fs-6">
                            To meet / interact with
                            minimum 50 Embassies, Consul Generals of various countries to get associated.</li>
                        <li data-aos="fade-up" class="lead fs-6">
                            To tie-up / sign with
                            minimum 50 Chambers of Commerce / Associations.</li>
                        <li data-aos="fade-up" class="lead fs-6">
                            To arrange minimum 150
                            joint events with Pvt. / Govt. organisations in different sectors in India / Abroad.</li>
                        <li data-aos="fade-up" class="lead fs-6">
                            To arrange minimum 10
                            virtual & direct awards for successful businessmen, entrepreneurs, motivators and
                            professionals in India & Globally.</li>
                        <li data-aos="fade-up" class="lead fs-6">
                            To publish minimum 50
                            editions of business magazines.</li>
                    </ul>
                </div>
            </div>
        </div>
 </section>
{% endblock %} 