{% extends "base.html" %}
{% load static %}

{% block title %}{{ content.HomepageTitle }}{% endblock %}

{% block content %}

<main id="main">

    <div class="breadcrumbs">
        {% if content.HomeBannerImg %}
        <img src="{{ content.HomeBannerImg.url }}" alt="{{ content.HomeBannerImgAltTag }}" class="img-fluid">
        {% endif %}
    </div>

    <!-- Logo & Title Section -->
    <div class="text-center container-fluid">
        {% if content.LogoImg %}
        <img src="{{ content.LogoImg.url }}" alt="{{ content.LogoImgAltTag }}" class="img-fluid  ind mt-3">
        {% endif %}
        <h1 class="text-dark fs-3 text-uppercase" style="font-family: 'Times New Roman', Times, serif;">
            {{ content.HomepageTitle }}
        </h1>
    </div>

    <div class="container fs-5  mt-4" data-aos="fade-up">
        {% if content.AboutImg %}
        <img src="{{ content.AboutImg.url }}" alt="{{ content.AboutImgAltTag }}"
             class="img-fluid border rounded float-none float-lg-end   ms-lg-4">
        {% endif %}

        <div class="text-left  lead mt-3 ">
            <h2 style="font-family: 'Times New Roman', Times, serif;">
                <strong> <i class="bi bi-yin-yang fs-2 pe-2"></i></strong>{{ content.AboutTitle }}
            </h2>
            <p style="text-align: justify;" class="pe-3">
                {{ content.AboutDescription }}
            </p>
        </div>
    </div>


    <section id="objectives" class="mt-5 container">
        <h2>{{ content.ObjectiveTitle }}</h2>
        <p>{{ content.ObjectiveDescription }}</p>
    </section>

    <section id="gallery" class="mt-5 container text-center">
        <h2>{{ content.GalleryVideoTitle }}</h2>
        {% if content.GalleryImg %}
        <img src="{{ content.GalleryImg }}" alt="{{ content.GalleryImgAltTag }}" class="img-fluid">
        {% endif %}
        {% if content.GalleryVideoURL %}
        <div class="mt-3">
            <iframe width="560" height="315" src="{{ content.GalleryVideoURL|safe }}" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        {% endif %}
    </section>

    <section id="country-glance" class="mt-5 container">
        <h2>{{ content.CountryGlancesTitle }}</h2>

        <h3>{{ content.OfficialNameTitle }}</h3>
        <p>{{ content.OfficialNameParagraph }}</p>

        <h3>{{ content.CapitalCityTitle }}</h3>
        <p>{{ content.CapitalCityParagraph }}</p>

        <h3>{{ content.LocationTitle }}</h3>
        <p>{{ content.LocationParagraph }}</p>

        <h3>{{ content.AreaTitle }}</h3>
        <p>{{ content.AreaParagraph }}</p>

        <h3>{{ content.PopulationTitle }}</h3>
        <p>{{ content.PopulationParagraph }}</p>

        <h3>{{ content.LanguageTitle }}</h3>
        <p>{{ content.LanguageParagraph }}</p>

        <h3>{{ content.ExportsTitle }}</h3>
        <p>{{ content.ExportsParagraph }}</p>

        <h3>{{ content.ImportTitle }}</h3>
        <p>{{ content.ImportParagraph }}</p>

        <h3>{{ content.CurrencyTitle }}</h3>
        <p>{{ content.CurrencyParagraph }}</p>

        <h3>{{ content.CountryCodeTitle }}</h3>
        <p>{{ content.CountryCodeParagraph }}</p>

        <h3>{{ content.TimeZoneTitle }}</h3>
        <p>{{ content.TimeZoneParagraph }}</p>
    </section>

</main>

{% endblock %}
