{% extends "base.html" %}
{% load static %}

{% block title %}Legal Documents{% endblock %}

{% block content %}

<section id="about" class="about py-0">

    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center"
            style="background-image: url(' {% static 'images/india-kazakhstan-business-and-cultural-council-legal-document.jpg' %}');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-12 container text-center">
                        <h1 class="py-4 text-light fs-1"
                            style="text-shadow:0px 0px 4px black;font-family: 'Times New Roman', Times, serif;">
                            <br>Legal Documents
                            <br>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq py-0">

        <div class="container my-4" data-aos="fade-up">

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-10">
                    <div class="accordion accordion-flush" id="faqlist3">
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <button class="accordion-button lead border rounded collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-content-1">

                                    <i class="bi bi-clipboard2 question-icon"></i>
                                    <span style="font-family: 'Times New Roman', Times, serif;">Terms & Conditions
                                        <br>Read about our Terms & Conditions here</span>
                                </button>
                            </div>
                            <div id="faq-content-1" class="accordion-collapse show collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body order-2 order-md-1 border" style="background:white;">
                                    <div class="container row ">
                                        <div class="section-header">
                                            <span>TERMS & CONDITIONS</span>
                                            <h2 style="font-family: 'Times New Roman', Times, serif;">TERMS & CONDITIONS
                                            </h2>

                                        </div>

                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">
                                            By using our website ( <a href="https://gibf.biz">www.gibf.biz</a> ) or our
                                            services, you are agreeing to the
                                            terms and conditions provided here.
                                        </div>
                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            Our website has been designed to connect business professionals/investors
                                            and sellers of small and medium-sized businesses through the process of
                                            automated searching, shortlisting and contacting prospects.
                                        </div>
                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            Profile advertisement details and other materials posted on our sites are
                                            not intended to amount to any form of investment advice from GIBF. GIBF is
                                            not a broker or the agent of any user, and GIBF does not partake in any kind
                                            of negotiations or discussions between the users.
                                        </div>
                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            GIBF doesn`t provide any representation or warranty as to completeness or
                                            accuracy of any information listed on the website.
                                        </div>
                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            You are responsible for verifying all listed details, taking appropriate
                                            safety measures and conducting your own due diligence before transacting
                                            with any other user from the website. Your use of this website is at your
                                            own risk and you assume full responsibility and risk of loss resulting from
                                            the use of thereof.
                                        </div>
                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            If you have a dispute with one or more other users of our website, you
                                            release GIBF from claims, demands and damages (actual and consequential) of
                                            every kind and nature, known and unknown, arising out of or in any way
                                            connected with such disputes.
                                        </div>
                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            GIBF will not be liable for any direct, special, indirect, incidental,
                                            consequential or punitive damages or any other damages whatsoever, whether
                                            in an action of contract, statute, tort (including, without limitation,
                                            negligence) or otherwise, relating to the use of this website.
                                        </div>
                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            Any advertisements/profiles on the website do not constitute a binding offer
                                            so that acceptance by the user can bind the party advertising on the
                                            website.
                                        </div>
                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            Certain links in the website lead to resources maintained by third parties
                                            over whom GIBF has control and makes no representations or warranties as to
                                            the accuracy of, or any other aspect relating to, those resources.
                                        </div>
                                        <div class="col-md-8 offset-md-2">
                                            <div class="conatiner">
                                                <img src="https://gibf.biz/assets-council/img/terms-and-conditions-logo.jpg" class="img-fluid shadow rounded border my-3" alt="Terms and Conditions logo">
                                            </div>
                                        </div>
                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            GIBF stores and uses personal information collected from visitors to the
                                            website in accordance with the Privacy Policy provided on the website.
                                        </div>
                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            Any program, publication, design, product, process, software, technology,
                                            information, know-how, or idea described in this web site may be the subject
                                            of other rights, including other intellectual property rights, which are
                                            owned by GIBF or other interested parties and are not licensed to you
                                            hereunder. Any transfer, sale, distribution, reproduction, copying or
                                            modification of any material contained on this website (in whole or in part)
                                            is strictly prohibited.
                                        </div>
                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            As a condition of your use of this website, you agree not to upload or post
                                            any material that infringes the copyright, trade mark or other intellectual
                                            property rights of any third party.
                                        </div>
                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            GIBF reserves the right to edit or delete or suspend any advertised profile
                                            or user, if we, in our opinion, believe such steps will improve the quality
                                            of the website. GIBF has no responsibility or liability for the deletion or
                                            failure to store any content maintained or transmitted by the website or the
                                            service. Once a profile has been activated, while users can update their
                                            profile with new information, changing the profile materially in such a way
                                            that it represents a different business, is not allowed.
                                        </div>
                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            You hereby agree to indemnify GIBF (who shall have no duty to mitigate its
                                            loss) in full and on demand and keep it so indemnified against all claims,
                                            demands, actions, proceedings and all direct and indirect damages, losses,
                                            costs and expenses (including without limitation legal and other
                                            professional advisers` fees, economic loss, loss of profit, future revenue,
                                            reputation, goodwill, anticipated savings) and any consequential loss made
                                            against or incurred or suffered by GIBF and whether wholly or in part
                                            resulting directly or indirectly from any claim that the content of any
                                            material uploaded or posted onto this website infringes the copyright, trade
                                            mark or other intellectual property rights of any third party.
                                        </div>


                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            GIBF is not liable for any infringement of intellectual property rights
                                            arising out of materials posted on or transmitted through the site, or items
                                            advertised on the site, by end users or any other third parties. If you
                                            believe that the content of any material uploaded or posted onto this
                                            website infringes your intellectual property rights, please notify us over
                                            email, so we may take corrective measures.
                                        </div>
                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            GIBF is not regulated any regulatory body and you are strictly prohibited
                                            from offering any form of public securities, shares, bonds, or anything
                                            similar via this website.
                                        </div>
                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            You agree to indemnify GIBF against all claims, demands, actions,
                                            proceedings, costs, losses, expenses or damages it may incur howsoever
                                            arising whether direct, indirect or consequential as a result of
                                            advertisement you place on the website.
                                        </div>
                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            If you are advertising in the capacity of a broker, agent or any other form
                                            of intermediary, you should have the full authority to advertise the
                                            business/business opportunity on the website from the owner.
                                        </div>
                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            GIBF reserves the right to decide the index order in which listings are
                                            displayed on the website.
                                        </div>

                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            You agree that any disputes and / or differences if any shall be governed by
                                            the Laws of India and the exclusive venue for all actions related to or
                                            arising out of this engagement shall be the Courts of Bangalore, India.
                                        </div>
                                        <div class="col-12" style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                class="img-fluid">

                                            You hereby, unconditionally and irrevocably confirm that you have read terms
                                            and conditions and agree to abide by them.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!-- # Faq item-->
                    
                    <div class="accordion accordion-flush" id="faqlist1">

                        <div class="accordion-item">
                            <div class="accordion-header">
                                <button class="accordion-button border rounded lead collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-content-2">

                                    <i class="bi bi-clipboard2 question-icon"></i>
                                    <span style="font-family: 'Times New Roman', Times, serif;">Privacy Policy <br>Read
                                        about our Privacy Policy here</span>
                                </button>
                            </div>
                            <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body order-2 order-md-1  border" style="background:white;">
                                    <div class="container row">
                                        <div class="section-header">
                                            <span>PRIVACY POLICY</span>
                                            <h2 style="font-family: 'Times New Roman', Times, serif;">PRIVACY POLICY
                                            </h2>

                                        </div>
                                        <div class="col-12 " >
                                            <p class="lead text-center fs-6">
                                                Global India Business Forum is fully committed to protecting your
                                                confidential information. If you as a visitor choose to register or
                                                submit information to this website, you agree to the use of such data in
                                                accordance with this privacy policy. Please note that this website may
                                                contain links to other sites which may not be governed by this privacy
                                                policy.
                                            </p>
                                            <p class="lead text-center fs-6">
                                                We collect and store confidential information including, but not limited
                                                to your name, email address, telephone numbers, your company
                                                information, financial information, transactional information based on
                                                your activities on the website, computer and connection information,
                                                statistics on page views, traffic information, ad data, IP address,
                                                standard web log information and supplemental information from third
                                                parties such as Google Analytics. If you would like to opt out of such
                                                implementations please stop using the website. We may use your
                                                confidential information for the following purposes:
                                            </p>
                                            <div class="container ">
                                                <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                    class="img-fluid">
                                                To display your profile/advertisement on the website to facilitate our
                                                services.
                                            </div>
                                            <div class="container ">
                                                <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                    class="img-fluid">
                                                To provide contact information to relevant parties after your approval.
                                            </div>
                                            <div class="container ">
                                                <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                    class="img-fluid">
                                                To derive and share industry knowledge including valuation multiples,
                                                profit margins, transaction structures, key drivers, challenges, etc.
                                            </div>
                                            <div class="container ">
                                                <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                    class="img-fluid">
                                                To send you information Legal Documents, our services, service updates,
                                                and
                                                promotional offers.
                                            </div>
                                            <div class="container ">
                                                <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                    class="img-fluid">
                                                To improve our services, collect fees, enforce our policies, and enforce
                                                our Terms and Conditions.
                                            </div>
                                            <div class="container ">
                                                <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                    class="img-fluid">
                                                To resolve disputes, respond to legal requirements, prevent potentially
                                                prohibited or illegal activities, and protect anyone`s rights, property,
                                                and safety.
                                            </div>
                                            

                                        <div class="col-md-8 offset-md-2">
                                            <div class="conatiner">
                                                <img src="https://gibf.biz/assets-council/img/privacy-policy-logo.jpg" class="my-3 img-fluid shadow rounded border" alt="Privacy Policy Logo">
                                            </div>
                                        </div>
                                            <p class="lead text-center fs-6">
                                                We might post testimonials on our website obtained from users` and these
                                                could include your name, company, city and other personal information.
                                                We obtain permission from our users` prior to posting their testimonials
                                                on the website and are not responsible for any personal information a
                                                user might include in their testimonial.
                                            </p>
                                            <p class="lead text-center fs-6">
                                                GIBF is fully committed to protecting your confidential information. But
                                                in unforseen circumstances of technical failures or malfunctions, Ye
                                                forum will not be responsible for any damage or loss resulting from it.
                                            </p>
                                            <p class="lead fs-6 " style="text-align: justify;">
                                            <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                    class="img-fluid">
                                                  If GIBF undergoes merger, acquisition or an asset sale and your
                                                confidential information is part of the transferred assets, the new
                                                privacy policy decided at the time of the transaction would govern your
                                                confidential information. Any changes to the privacy policy governing
                                                your information as a result of transaction would be communicated on the
                                                website or by email. When you receive contact details of potential
                                                counter parties, the counter party reserves the right to remove their
                                                information from your database.
                                           <br>   <img src="https://gibf.biz/assets-council/img/pointing-right-black.png" alt="Pointing Right Black"
                                                    class="img-fluid">
                                                  If you would like to close your account, please contact us and we shall
                                                process your request at the earliest. We regularly clean our data and
                                                might close your account if your account for inactivity or for any other
                                                reason which may improve our website. We retain confidential information
                                                from closed accounts to derive industry knowledge, comply with law,
                                                prevent fraud, collect any fees owed, resolve disputes and take other
                                                actions otherwise permitted by law. We reserve the right to amend this
                                                Privacy Policy at any time and for any reason.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- # Faq item-->
                </div>
            </div>
            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-10">


                </div>

            </div>
     </div>

</section>
{% endblock %} 