{% extends "base.html" %}
{% load static %}

{% block title %}President Message{% endblock %}

{% block content %}

<section id="about" class="about py-0">

   <div class="breadcrumbs">
            <div class="page-header d-flex align-items-center"
                style="background-image: url(' {% static 'images/india-kazakhstan-business-and-cultural-council-persident-message-Jitendra-joshi-founder-and-global-president-gibf.jpg' %}' );">
                <div class="container position-relative">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-8 col-12 container text-center">
                            <h1 class="py-4 text-light fs-1"
                                style="text-shadow:0px 0px 4px black;font-family: 'Times New Roman',Times,serif;">
                                <br>President Message
                                <br>
                            </h1>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Breadcrumbs -->
        <div class="container  mb-3" data-aos="fade-up">
            <div class="row gy-4">
                <div class="col-12 " data-aos="fade-up">
                    <div class="text-center"><a href="about-the-president">
                            <img class="img-fluid "
                                src='{% static 'images/india-kazakhstan-business-and-cultural-council-jitendra-joshi-founder-and-global-president-gibf.jpg' %}'
                                alt="India Kazakhstan Business and Cultural Council - Dr. Jitendra Joshi Founder and Global President - GIBF"></a>

                    </div>
                    <h2 style="font-family: 'Times New Roman', Times, serif;"
                        class="pt-3 fs-1 fw-lighter title text-center" data-aos="fade-up"> Dr. Jitendra Joshi Founder & Global President (GIBF)</h2>
                    <p class="lead text-left " data-aos="fade-up">
                        Diplomatic relations is the path to successful convergence in many ways and trade is one of the
                        most crucial factors. With the changing business scenario worldwide, adapting to the changes and
                        making amendments in the functioning of business processes have become critical.
                    </p>
                    <div class="text-center">
                        <a target="_blank" href="about-the-president.php">Learn more <i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                    <div class="conatiner mt-5 pt-2">
                        <ul class="nav nav-pills container  d-flex justify-content-center" id="pills-tab"
                            role="tablist">
                            <li class="nav-item mx-4 d-none d-lg-block" role="presentation">
                                <button class="btn btn-outline-primary mx-4 p-3 w-100  rounded-pill  active"
                                    id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
                                    role="tab" aria-controls="pills-home" aria-selected="true">Insights</button>
                            </li>
                            <li class="nav-item mx-4 d-none d-lg-block" role="presentation">
                                <button class="btn btn-outline-primary mx-4 p-3 w-100  rounded-pill"
                                    id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                                    type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Media
                                    Coverage</button>
                            </li>
                            <li class="nav-item mx-4 d-none d-lg-block" role="presentation">
                                <button class="btn btn-outline-primary mx-4 p-3 w-100  rounded-pill"
                                    id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                                    type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Press
                                    Releases</button>
                            </li>
                            <li class="nav-item mx-4 d-none d-lg-block" role="presentation">
                                <button class="btn btn-outline-primary mx-4 p-3 w-100  rounded-pill"
                                    id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact1"
                                    type="button" role="tab" aria-controls="pills-contact" aria-selected="false">TV
                                    Interviews</button>
                            </li>

                            <li class="nav-item  mx-4 container d-flex justify-content-center d-block d-lg-none"
                                role="presentation">
                                <button class="btn btn-outline-primary my-1 container    rounded-pill dropdown-toggle"
                                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    select
                                </button>
                                <ul class="dropdown-menu container  "
                                    style="background: transparent !important;border:none;">
                                    <li class="dropdown-item  mx-5">
                                        <button class="btn btn-outline-primary my-1  p-2 w-75  rounded-pill  "
                                            id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                                            type="button" role="tab" aria-controls="pills-home"
                                            aria-selected="true">Insights</button>

                                    </li>
                                    <li class="dropdown-item  mx-5">
                                        <button class="btn btn-outline-primary my-1  p-2 w-75  rounded-pill"
                                            id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                                            type="button" role="tab" aria-controls="pills-profile"
                                            aria-selected="false">Media Coverage</button>

                                    </li>
                                    <li class="dropdown-item  mx-5">
                                        <button class="btn btn-outline-primary my-1  p-2 w-75  rounded-pill"
                                            id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                                            type="button" role="tab" aria-controls="pills-contact"
                                            aria-selected="false">Press Releases</button>

                                    </li>
                                    <li class="dropdown-item  mx-5">
                                        <button class="btn btn-outline-primary my-1  p-2 w-75  rounded-pill"
                                            id="pills-contact-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-contact1" type="button" role="tab"
                                            aria-controls="pills-contact" aria-selected="false">TV
                                            Interviews</button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="tab-content container mt-5 text-center" id="pills-tabContent">
                            <div class="tab-pane fade show active container" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab" tabindex="0">
                                <div class="section-header " data-aos="fade-down">
                                    <span>Insights</span>
                                    <h2 class="fs-1" style="font-family: 'Times New Roman', Times, serif;">Insights</h2>
                                </div>
                                <div class="container" data-aos="fade-up">

                                    <div class="row">

                                    <div data-aos="zoom-in"
                                            class="col-lg-4 col-md-6 d-flex align-items-stretch ">
                                            <div class="course-item  mt-3 border shadow rounded-3">
                                                <img src="https://gibf.biz/assets-council/img/president-message-insights-minister-of-road-transport-and-highways-of-india-honourable-shri-nitin-gadkari-ji.jpg"
                                                    alt="Insights - Minister of Road Transport and Highways of India, Honourable Shri Nitin Gadkari Ji" class="img-fluid rounded-3">
                                                <div class="course-content">
                                                    <div
                                                        class="trainer d-flex justify-content-center align-items-center">
                                                        <h3 style="font-family: 'Times New Roman', Times, serif;"
                                                            class="fs-5 mt-3 fw-light"><a href="">Minister of Road
                                                                Transport &
                                                                Highways of India,
                                                                Honourable Shri Nitin Gadkari Ji</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-aos="zoom-in" class="col-lg-4 col-md-6 d-flex align-items-stretch">
                                            <div class="course-item  mt-3 border shadow rounded-3">
                                                <img src="https://gibf.biz/assets-council/img/president-message-insights-chief-minister-of-uttar-pradesh-yogi-adityanath-ji.jpg"
                                                    alt="Insights - Chief Minister Of Uttar Pradesh, Yogi Adityanath Ji"
                                                    class="img-fluid rounded-3">
                                                <div class="course-content">
                                                    <div
                                                        class="trainer d-flex justify-content-between align-items-center">
                                                        <h3 style="font-family: 'Times New Roman', Times, serif;"
                                                            class="fs-5 mt-3 fw-light"><a href="">Chief Minister Of Uttar Pradesh, Yogi Adityanath Ji</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div data-aos="zoom-in"
                                            class="col-lg-4 col-md-6 d-flex align-items-stretch ">
                                            <div class="course-item  mt-3 border shadow rounded-3">
                                                <img src="https://gibf.biz/assets-council/img/president-message-insights-governor-of-rajasthan-honourable-shri-kalraj-mishra.jpg"
                                                    alt="Insights - Governor Of Rajasthan, Honourable Shri Kalraj Mishra"
                                                    class="img-fluid rounded-3">
                                                <div class="course-content">

                                                    <div
                                                        class="trainer d-flex justify-content-center align-items-center">
                                                        <h3 style="font-family: 'Times New Roman', Times, serif;"
                                                            class="fs-5 mt-3 fw-light"><a href="">Governor Of Rajasthan, Honourable Shri Kalraj Mishra</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        
                                        <div data-aos="zoom-in"
                                            class="col-lg-4 col-md-6 d-flex align-items-stretch ">
                                            <div class="course-item  mt-3 border shadow rounded-3">
                                                <img src="https://gibf.biz/assets-council/img/president-message-insights-with-hon-governor-of-andhra-pradesh-shri-thawar-chand-gehlots.jpg"
                                                    alt="Insights - With Hon. Governor of Andhra Pradesh, Shri Thawar Chand Gehlots"
                                                    class="img-fluid rounded-3">
                                                <div class="course-content">

                                                    <div
                                                        class="trainer d-flex justify-content-center align-items-center">
                                                        <h3 style="font-family: 'Times New Roman', Times, serif;"
                                                            class="fs-5 mt-3 fw-light"><a href="">With Hon. Governor of Andhra Pradesh, Shri Thawar Chand Gehlots</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-aos="zoom-in"
                                            class="col-lg-4 col-md-6 d-flex align-items-stretch ">
                                            <div class="course-item  mt-3 border shadow rounded-3">
                                                <img src="https://gibf.biz/assets-council/img/president-message-insights-ex-chief-minister-of-maharashtra-honourable-shri-devendra-fadavnis.jpg"
                                                    alt="Insights - Ex-Chief Minister Of Maharashtra,  Honourable Shri Devendra Fadavnis"
                                                    class="img-fluid rounded-3">
                                                <div class="course-content">

                                                    <div
                                                        class="trainer d-flex justify-content-center align-items-center">
                                                        <h3 style="font-family: 'Times New Roman', Times, serif;"
                                                            class="fs-5 mt-3 fw-light"><a href="">Ex-Chief Minister Of Maharashtra,  Honourable Shri Devendra Fadavnis</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-aos="zoom-in"
                                            class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                                            <div class="course-item  mt-3 border shadow rounded-3">
                                                <img src="https://gibf.biz/assets-council/img/president-message-insights-with-ex-cm-maharashtra-shri-uddav-thackeray.jpg"
                                                    alt="Insights - With Ex CM Maharashtra Shri Uddav Thackeray"
                                                    class="img-fluid rounded-3">
                                                <div class="course-content">
                                                    <div
                                                        class="trainer d-flex justify-content-between align-items-center">
                                                        <h3 style="font-family: 'Times New Roman', Times, serif;"
                                                            class="fs-5 mt-3 fw-light"><a href="">With Ex CM Maharashtra Shri Uddav Thackeray</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <div data-aos="zoom-in"
                                            class="col-lg-4 col-md-6 d-flex align-items-stretch ">
                                            <div class="course-item  mt-3 border shadow rounded-3">
                                                <img src="https://gibf.biz/assets-council/img/president-message-insights-dr-jitendra-joshi-with-ex-deputy-cm-of-maharashtra-ajit-pawars.jpg"
                                                    alt="Insights - Dr. Jitendra Joshi with Ex-Deputy CM of Maharashtra, Ajit Pawars" class="img-fluid rounded-3">
                                                <div class="course-content">
                                                    <div
                                                        class="trainer d-flex justify-content-center align-items-center">
                                                        <h3 style="font-family: 'Times New Roman', Times, serif;"
                                                            class="fs-5 mt-3 fw-light"><a href="">Dr. Jitendra Joshi with Ex-Deputy CM of Maharashtra, Ajit Pawars</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                 
                                        <div data-aos="zoom-in"
                                            class="col-lg-4 col-md-6 d-flex align-items-stretch ">
                                            <div class="course-item  mt-3 border shadow rounded-3">
                                                <img src="https://gibf.biz/assets-council/img/president-message-insights-union-minister-of-state-for-finance-honourable-shri-bhagwat-karad.jpg"
                                                    alt="Insights - Union minister of state for finance, Honourable Shri Bhagwat Karad"
                                                    class="img-fluid rounded-3">
                                                <div class="course-content">

                                                    <div
                                                        class="trainer d-flex justify-content-center align-items-center">
                                                        <h3 style="font-family: 'Times New Roman', Times, serif;"
                                                            class="fs-5 mt-3 fw-light"><a href="">Union minister of state for finance, Honourable Shri Bhagwat Karad</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div data-aos="zoom-in"
                                            class="col-lg-4 offset-lg-0 offset-md-3 col-md-6 d-flex align-items-stretch ">
                                            <div class="course-item  mt-3 border shadow rounded-3">
                                                <img src="https://gibf.biz/assets-council/img/president-message-insights-dr-vinay-sahasrabuddhe-president-of-indian-council-for-cultural-relations.jpg"
                                                    alt="Insights - Dr. Vinay Sahasrabuddhe, President of Indian Council for Cultural Relations"
                                                    class="img-fluid rounded-3">
                                                <div class="course-content">
                                                    <div
                                                        class="trainer d-flex justify-content-center align-items-center">
                                                        <h3 style="font-family: 'Times New Roman', Times, serif;"
                                                            class="fs-5 mt-3 fw-light"><a href="">Dr. Vinay Sahasrabuddhe, President of Indian Council for Cultural Relations</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                        

                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                aria-labelledby="pills-profile-tab" tabindex="0">
                                <div class="section-header " data-aos="fade-down">

                                    <h2 class="fs-1" style="font-family: 'Times New Roman', Times, serif;">Media Coverage</h2>
                                </div>
                                <div class="container" data-aos="fade-up">

                                    <div class="row">
                                    
                                    <div
                                            class="animate__animated animate__zoomIn animate__slow col-lg-4 col-md-6 d-flex align-items-stretch">
                                            <div class="course-item  mt-3  border rounded-4 shadow">
                                                <img src="https://gibf.biz/assets-council/img/president-message-media-coverage-the-business-guardian.jpg"
                                                    alt="Media Coverage - The Business Guardian" class="img-fluid  rounded-3 border">
                                                <div class="course-content">
                                                    <div class="trainer text-center mt-3">
                                                        <h3 style="font-family: 'Times New Roman', Times, serif;"><a
                                                                href="" class="fs-4">The Business Guardian</a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    <div
                                            class="animate__animated animate__zoomIn animate__slow col-lg-4 col-md-6 d-flex align-items-stretch">
                                            <div class="course-item  mt-3  border rounded-4 shadow">
                                                <img src="https://gibf.biz/assets-council/img/president-message-media-coverage-top-story.jpg"
                                                    alt="Media Coverage - Top Story" class="img-fluid  rounded-3 border">
                                                <div class="course-content">
                                                    <div class="trainer text-center mt-3">
                                                        <h3 style="font-family: 'Times New Roman', Times, serif;"><a
                                                                href="" class="fs-4">Top Story</a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    <div
                                            class="animate__animated animate__zoomIn animate__slow col-lg-4 col-md-6 d-flex align-items-stretch">
                                            <div class="course-item  mt-3  border rounded-4 shadow">
                                                <img src="https://gibf.biz/assets-council/img/president-message-media-coverage-sakal-times.jpg"
                                                    alt="Media Coverage - Sakal Times" class="img-fluid  rounded-3 border">
                                                <div class="course-content">
                                                    <div class="trainer text-center mt-3">
                                                        <h3 style="font-family: 'Times New Roman', Times, serif;"><a
                                                                href="" class="fs-4">Sakal Times</a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            class="animate__animated animate__zoomIn animate__slow col-lg-4 offset-lg-2 col-md-6 d-flex align-items-stretch">
                                            <div class="course-item  mt-3  border rounded-4 shadow">
                                                <img src="https://gibf.biz/assets-council/img/president-message-media-coverage-the-new-indian-express.jpg"
                                                    alt="Media Coverage - The New Indian Express" class="img-fluid  rounded-3 border">
                                                <div class="course-content">
                                                    <div class="trainer text-center mt-3">
                                                        <h3 style="font-family: 'Times New Roman', Times, serif;"><a
                                                                href="" class="fs-4">The New Indian Express</a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="animate__animated animate__zoomIn animate__slow col-lg-4 offset-lg-0 offset-md-3 col-md-6 d-flex align-items-stretch">
                                            <div class="course-item  mt-3  border rounded-4 shadow">
                                                <img src="https://gibf.biz/assets-council/img/president-message-media-coverage-csr-shining-atar-award.jpg"
                                                    alt="Media Coverage - CSR Shining Atar Award" class="img-fluid  rounded-3 border">
                                                <div class="course-content">
                                                    <div class="trainer text-center mt-3">
                                                        <h3 style="font-family: 'Times New Roman', Times, serif;"><a
                                                                href="" class="fs-4">CSR Shining Atar Award</a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                aria-labelledby="pills-contact-tab" tabindex="0">
                                <div class="section-header " data-aos="fade-down">

                                    <h2 class="fs-1" style="font-family: 'Times New Roman', Times, serif;">Press Releases</h2>
                                </div>
                                <div class="container" data-aos="fade-up">

                                    <div class="row "  data-aos-delay="100">
                                        <div
                                            class="animate__animated animate__zoomIn animate__slow col-lg-4  col-sm-6  mt-3 d-flex align-items-stretch">
                                            <div class="mt-3 border rounded-3 course-item">
                                                <a
                                                    href="https://policenama.com/english/pune-gibf-to-hold-india-latin-america-caribbean-countries-business-conclave-to-accelerate-economies-on-saturday-2-march-in-the-city/">
                                                    <img src="https://gibf.biz/assets-council/img/president-message-press-releases-pune-gibf-to-hold-india-latin-america-and-caribbean-countries.jpg"
                                                        class="img-fluid "
                                                        alt="Press Releases - India-Latin America & Caribbean Countries Business Conclave">
                                                </a>
                                                <div class="course-content px-3">
                                                    <h3 style="font-family: 'Times New Roman', Times, serif;"
                                                        class="fs-5 fw-lighter my-3"><a
                                                            href="https://policenama.com/english/pune-gibf-to-hold-india-latin-america-caribbean-countries-business-conclave-to-accelerate-economies-on-saturday-2-march-in-the-city/">
                                                            India-Latin America & Caribbean Countries
                                                            Business Conclave To Accelerate Economies On Saturday, 2
                                                            March In The City</a></h3>
                                                    <p>
                                                        February 29, 2023
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="animate__animated animate__zoomIn animate__slow col-lg-4  col-sm-6  mt-3 d-flex align-items-stretch">
                                            <div class="mt-3 border rounded-3 course-item"> <a
                                                    href="https://en.sangritimes.com/grow-together-is-a-success-mantra-for-futuristic-business-between-india-africa-dr-jitendra-joshi">
                                                    <img src="https://gibf.biz/assets-council/img/president-message-press-releases-grow-together-is-a-success-mantra-for-futuristic-business-between-india-africa-dr-jitendra-joshi.jpg"
                                                        class="img-fluid "
                                                        alt="Press Releases - Grow Together', is a success mantra for futuristic business between India & Africa: Dr. Jitendra Joshi">
                                                </a>
                                                <div class="course-content px-3">
                                                    <h3 style="font-family: 'Times New Roman', Times, serif;"
                                                        class="fs-5 fw-lighter my-3"><a
                                                            href="https://en.sangritimes.com/grow-together-is-a-success-mantra-for-futuristic-business-between-india-africa-dr-jitendra-joshi">
                                                            'Grow Together', is a success mantra for futuristic business
                                                            between India & Africa: Dr. Jitendra Joshi</a></h3>
                                                    <br>
                                                    <p>
                                                        October 14, 2023
                                                    </p>

                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            class="animate__animated animate__zoomIn animate__slow col-lg-4  col-sm-6  mt-3 d-flex align-items-stretch">
                                            <div class="mt-3 border rounded-3 course-item">
                                                <a href="https://youtu.be/ZjfFcx1XaOU">
                                                    <img src="https://gibf.biz/assets-council/img/president-message-press-releases-global-president-dr-jitendra-Joshi-speech-gibf.jpg"
                                                        class="img-fluid " alt="Press Releases - Global President Dr. Jitendra Joshi Speech - GIBF"></a>
                                                <div class="course-content px-3">
                                                    <h3 style="font-family: 'Times New Roman', Times, serif;"
                                                        class="fs-5 fw-lighter my-3"><a
                                                            href="https://youtu.be/ZjfFcx1XaOU">Global President 
                                                            Dr. Jitendra Joshi
                                                            Speech- GIBF</a></h3>
                                                    <p>
                                                        April 30, 2022
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class=" animate__animated animate__zoomIn animate__slow col-lg-4 offset-lg-4 offset-md-0 col-sm-6  mt-3 d-flex align-items-stretch">
                                            <div class="mt-3 border rounded-3 course-item"> <a
                                                    href="https://youtu.be/xUl9WeupvoA">
                                                    <img src="https://gibf.biz/assets-council/img/president-message-press-releases-gibf-pressconference.jpg"
                                                        class="img-fluid " alt="Press Releases - Happy GIBF - Press Conference"></a>
                                                <div class="course-content px-3">
                                                    <h3 style="font-family: 'Times New Roman', Times, serif;"
                                                        class="fs-5 fw-lighter my-3"><a
                                                            href="https://youtu.be/xUl9WeupvoA">Happy
                                                            GIBF - Press Conference</a></h3>
                                                    <p>
                                                        May 5, 2019
                                                    </p>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="pills-contact1" role="tabpanel"
                                aria-labelledby="pills-contact-tab" tabindex="0">
                                <div class="section-header" data-aos="fade-down">

                                    <h2 class="fs-1" style="font-family: 'Times New Roman', Times, serif;">TV Interviews
                                    </h2>
                                </div>
                                <div class="container" data-aos="fade-up">

                                    <div class="row" data-aos="zoom-in" data-aos-delay="100">

                                        <div
                                            class="col-lg-4 animate__animated animate__zoomIn animate__slow offset-lg-4 col-sm-6 offset-sm-3 mt-3 mt-sm-0 d-flex align-items-stretch">
                                            <div class="course-item border rounded-3 shadow"> <a
                                                    href="https://youtu.be/NcYtCHKjEJQ">
                                                    <img src="https://gibf.biz/assets-council/img/president-message-tv-interviews-dr-jitendra-joshi-interview.jpeg"
                                                        class="img-fluid " alt="TV Interviews - From Dreams to Success: Dr. Jitendra Joshi's Journey"></a>
                                                <div class="course-content">
                                                    <h3 style="font-family: 'Times New Roman', Times, serif;"
                                                        class="fs-5 mt-3 fw-lighter"><a
                                                            href="https://youtu.be/NcYtCHKjEJQ">From Dreams to Success:
                                                       Dr. Jitendra Joshi's Journey</a></h3>
                                                    <p>
                                                        Jul 17, 2023
                                                    </p>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>
{% endblock %}